.card__wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}

.card {
  position: relative;
  // max-width: 550px;
  padding: 30px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;

  &__img {
    position: absolute;
    top: 25%;
    left: -70px;
    width: 180px;
    height: 180px;
    background: #e05236;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    img {
      width: 100%;
    }
  }

  &__content {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__username {
    font-size: 16px;
    color: #8d8b93;
  }

  &__title {
    font-size: 30px;
  }

  &__text {
    font-size: 16px;
    color: #8d8b93;
  }

  &__address {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__website {
    width: 50%;
    text-align: center;
    padding: 8px 16px;
    background: linear-gradient(90deg, #bb4f34, #fcba3d);
    border-radius: 5px;
    color: white;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media only screen and (max-width: 1300px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .card__img {
    display: none;
  }

  .card__content {
    margin-left: 0px;
  }
}
